# HeightMap dependencies

git /extensions/HeightMap			https://github.com/OpenEngineDK/extensions-HeightMap.git
git /extensions/MeshUtils			https://github.com/OpenEngineDK/extensions-MeshUtils.git

git-dev /extensions/HeightMap			git@github.com:OpenEngineDK/extensions-HeightMap.git
git-dev /extensions/MeshUtils			git@github.com:OpenEngineDK/extensions-MeshUtils.git